//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

// COLORS
$background-color: #333333;
$primary-color: #fbfcdb;
$text-color: #ffffff;

// FONTS 
$fancy-font: 'Righteous', cursive;
$normal-font: 'Roboto', sans-serif;
$title-size: 72px;