//Import Fonts
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

// COLORS
$background-color: #f3f3f3;
$primary-color: #fbfcdb;
$text-color: #333;
$progress-bar: #fbfcdb;
$text-shadow: 0px 0px 0px 0px $background-color;

// FONTS 
$fancy-font: 'Righteous', cursive;
$normal-font: 'Roboto', sans-serif;
$title-size: 72px;