@import 'partials/_variables';
@import 'partials/_buttons';

@mixin flex-center-horizontal {
    display: flex;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    height: 100vh;
    background: $background-color;
    font-family: $normal-font;
    color: $text-color;
    @include flex-center-horizontal;
}

.main-container {
    // background: darkorange;
    width: 80%;
    height: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
    & > h1 {
        padding: 0 5px;
        font-size: $title-size;
        font-family: $fancy-font;
        text-shadow: $text-shadow;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 89% 93%, 68% 95%, 51% 94%, 36% 98%, 27% 95%, 18% 91%, 0 99%);
    }
    
    .grid {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr;
        .left {
            display: flex;
            // background: darkorchid;

            & > p {
               font-size: 1.5em; 
            }

            .trash-can {
                margin-left: 10px;
                display: flex;
                flex-direction: column;
                .trash-top {
                    background: $primary-color;
                    height: 2px;
                    width: 22px;
                    border-radius: 5px;
                    margin-bottom: 2px;
                }
                .trash-bottom {
                    background: $primary-color;
                    height: 27px;
                    width: 18px;
                    border-radius: 5px;
                    margin-left: 2px;
                }
                &:hover .trash-bottom{
                    cursor: pointer;
                    background: lighten($primary-color, 20);
                }
                &:hover .trash-top{
                    cursor: pointer;
                    background: lighten($primary-color, 20);
                }
            }
        }
        .middle {
            // background: darkblue;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .progress-bar {
                margin-bottom: -10px;
                position: relative;
                width: 70%;
                height: 5px;
                background: darken($background-color, 5);
                border-radius: 5px;

                .progress {
                    width: 0%;
                    height: 5px;
                    background: $primary-color;
                }
            }
            #timer {
                font-size: 9em;
                margin-top: -20%;
                text-shadow: $text-shadow;
            }
            .buttons {
                margin-top: 50px;
            }
        }
        .right {
            display: flex;
            justify-content: center;
            align-items: center;

            .container {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                margin-top: -20%;
                background: pink;
                width: 100%;
                height: 500px;
                position: relative;
                border: 3px $text-color solid;
                img {
                    border-radius: inherit;
                    object-fit: cover;
                    object-position: center;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .main-container {
        width: 100%;
    }
    .grid {
        width: 80%;
        max-width: 800px !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        .left {
            margin-top: 15px;
            .trash-can {
                margin-left: 100px;
                display: flex;
                flex-direction: column;
                .trash-top {
                    background: $primary-color;
                    height: 2px;
                    width: 22px;
                    border-radius: 5px;
                    margin-bottom: 2px;
                }
                .trash-bottom {
                    background: $primary-color;
                    height: 27px;
                    width: 18px;
                    border-radius: 5px;
                    margin-left: 2px;
                }
                &:hover .trash-bottom{
                    cursor: pointer;
                    background: lighten($primary-color, 20);
                }
                &:hover .trash-top{
                    cursor: pointer;
                    background: lighten($primary-color, 20);
                }
            }
        }
        .middle {
            // background: darkblue;
            height: 100%;            
            .progress-bar {
                margin-bottom: -20px !important;
                position: relative;
                width: 70%;
                height: 5px;
                background: darken($background-color, 5);
                border-radius: 5px;

                .progress {
                    width: 0%;
                    margin-bottom: 5px !important;
                    height: 5px;
                    background: $primary-color;
                }
            }
            #timer {
                font-size: 9em;
                margin-top: 0 !important;
                text-shadow: $text-shadow;
            }
            .buttons {
                margin-top: 50px;
                display: flex;
            }
        }
        .right {
            .container {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
                margin-top: 0 !important;
                background: pink;
                width: 80% !important;
                height: 200px !important;
                position: relative;
                border: 3px $text-color solid;
                img {
                    border-radius: inherit;
                    object-fit: cover;
                    object-position: top !important;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}